[user]
  name = William Casarin
  email = jb55@jb55.com
	signingkey = 0x90EEB2149F6689622EFF595FA13C2E3632EA34D7!
[color]
  diff = auto
  status = auto
[core]
  excludesfile = /Users/jb55/.gitignore_global
  editor = edit
  pager = delta --hunk-style=plain --file-style=box --paging=always
[sendemail]
  smtpServer=/home/jb55/bin/sendmail
[url "git@github.com:"]
  insteadOf = gh:
[url "git@git.sr.ht:~"]
  insteadOf = srht:
[url "git@gitlab.com:"]
  insteadOf = gitlab:
[url "jb55.com:git/"]
  insteadOf = dev:
[url "jb55.com:git-public/"]
  insteadOf = jb55:
[url "ssh://git@phabricator.monstercat.com/diffusion/"]
  insteadOf = phab:
[url "http://git.monster.cat/"]
  insteadOf = mcat:
[url "http://git.zero.jb55.com/"]
  insteadOf = zero:
[url "http://git.razorcx.com/"]
  insteadOf = razor:
[gui]
  recentrepo = /Users/jb55/src/js/titania
[alias]
  s = show
  a = add
  ap = add -p
  b = branch
  au = add -u
  f = fetch -p
  br = symbolic-ref --short HEAD
  ca = commit --amend
  mlap = push monad HEAD:laptop
  c = commit
  cloner = clone --recursive
  d = diff
  default = !git config branch.master.remote origin && git config branch.master.merge refs/heads/master
  ds = diff --staged
  ff = merge --ff-only
  hash = !"git rev-parse HEAD | tr -d '\n' | xclip"
  lnd = log --no-decorate
  lg1 = log --graph --branches --tags --remotes --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(bold)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lgl = log --format='%h  %cr  %s'
  lg2 = log --no-merges --topo-order --date=relative --pretty=format:'%C(auto,yellow)%h%C(auto,magenta)%  %C(auto,blue)%>(12,trunc)%ad %C(auto,green) %C(auto,reset)%s%C(reset)% %C(bold) — %an%C(reset)%C(bold yellow)%d%C(reset)'
  lg3 = log --graph --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %s %C(bold)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
  lg = !"git lg1"
  lnd = log --no-decorate
  lgrep = log --grep
  line = log --oneline
  linea = log --all --no-merges --topo-order --date=relative --pretty=format:'%C(auto,yellow)%h%C(auto,magenta)%  %C(auto,blue)%>(12,trunc)%ad %C(auto,green) %C(auto,reset)%s%C(reset)% %C(bold) — %an%C(reset)%C(bold yellow)%d%C(reset)'
  lineg = log --oneline --graph
  l = log
  muff = merge --no-ff
  prs = log --no-merges --date=local --author-date-order --glob='pull/origin/*'
  prs-merged = log --merges --date=local --author-date-order --glob='pull/origin/*'
  puff = pull --ff-only
  rc = rebase --continue
  rv = remote -v
  refl = reflog --date=relative
  r = rebase
  serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
  stat2 = log --stat --pretty=format:'%C(auto,yellow)%h%C(auto,magenta)% G? %C(auto,blue)%>(12,trunc)%cr %C(auto,green)%aN %C(auto,red)%D %n%n   %C(auto,reset)%s%n'
  st = status
  tagd = !"git tag --format='%(creatordate:short)%09%(refname:strip=2)' | sort"
  tg = log --date-order --tags --simplify-by-decoration --pretty=format:'%ai %h %d'
  try = merge --no-commit --no-ff
  co = checkout
  fixes = show -s --pretty='format:Fixes: %h (\"%s\")'
[rebase]
  autosquash = true
[pull]
	rebase = true
[diff]
	colorMoved = dimmed-zebra
	colorMovedWs = allow-indentation-change
[push]
	default = simple
[rerere]
	enabled = false
	autoupdate = false
[gpg]
	program = ~/bin/ots-git
[magit]
	hideCampaign = true
[github]
	user = jb55
[commit]
	template = ~/.git-template
[grep]
	lineNumber = true
[credential "https://github.com"]
	helper = !gh auth git-credential
