bin/cmdtree
bin/viscal
bin/gmni
bin/lagrange
bin/resources.lgr
bin/bech32
bin/bolt11-cli
bin/cln-nip47
bin/countbits
bin/datefmt
bin/delta
bin/git-remote-nostr
bin/ijq
bin/n34
bin/ndb
bin/ngit
bin/nostcat
bin/nostril
bin/notepack
bin/tigerbeetle
bin/z64decompress
.direnv
